<main>
    <header>
        <app-header></app-header>  <!-- Displays the header component / Muestra el componente de cabecera -->
    </header>

    <aside>
        <app-aside></app-aside>  <!-- Displays the aside component / Muestra el componente de navegación lateral -->
    </aside>

    <section>
        <router-outlet></router-outlet>  <!-- Displays routed views / Muestra las vistas de las rutas -->
    </section>

    <footer>
        <app-footer></app-footer>  <!-- Displays the footer component / Muestra el componente de pie de página -->
    </footer>
</main>
